#block-content {
    flex: 1;
}

footer {
    width: 100%;
    background-color: #335468;
    display: flex;
    justify-content: center;
}
.footerContent {
    font-family: Marmelad, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.footerContent a {
    color: gold;
}

.footerContent a:hover {
    color: orange
}

footer.dark-mode{
    background-color: #0b2635;
}