@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

.emptyCell {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Marmelad, Arial, sans-serif;
    height: 500px
}
  
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fafafa;      
}