<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <nav class="topnav">
        <label for="nav-toggle" class="hamburger">☰</label>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
        <div class="dropdown">
            <div class="nav-links">
              <a href="index.html">Home</a>
              <a href="syllabus.html">Syllabus</a>
              <a href="assignments.html">Assignments</a>
              <a href="labs.html">Labs</a>
              <a href="notes.html">Lecture Notes</a>
              <a href="tests.html">Tests</a>
              <a href="https://piazza.com/class/m5fmz9kzjo83yk">Piazza</a>
              <a href="https://markus2.utsc.utoronto.ca/">Markus</a>
              <a href="calendar.html"  class="active">Calendar</a>
              <a href="feedback.html">Feedback</a>
              <a href="news.html">News</a>
              <a href="team.html">Course Team</a>
            </div>
        </div>
        
        <h2>CSCB20</h2>
        
        
        
        <input type="checkbox" id="darkmode-toggle">
        <label for="darkmode-toggle" class="darkmode-toggle">
            <img src="../static/images/sun.png" alt="sun" class="sun">
            <img src="../static/images/moon.png" alt="moon" class="moon">
        </label>
        
      </nav>
    <div class="content">
        <iframe src="https://calendar.google.com/calendar/embed?src=13d631925f3a716373d378a38d107d7a6b19c372ad7203003f0254e13043df2f%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <footer>
        <div class="footerContent">
          <p>Site Design by Asad Mirza and Moiz Mohammed</p>
          <p>Visit the <a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a></p>
        </div>
      </footer>
</body>
</html>