<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="content">
        <iframe src="https://calendar.google.com/calendar/embed?src=13d631925f3a716373d378a38d107d7a6b19c372ad7203003f0254e13043df2f%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    {% endblock %}
</body>
</html>