<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
      <div class="container">
          <div class="form-header">
                <h1>Anonymous Feedback Form</h1>
          </div>
          <div class="form-body">

            <form id="feedbackForm">
                
                <div class="form-content">
                    <label for="instructor_id" class="question">Select Instructor:</label>
                    <select id="instructor_id" name="instructor_id" required>
                        {% for instructor in instructors %}
                            <option value="{{ instructor.user_id }}">{{ instructor.fname }} {{ instructor.lname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-content">
                    <label for="teaching_likes" class="question">What do you like about the instructor’s teaching?</label>
                    <textarea name="teaching_likes" id="teaching_likes" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-content">
                    <label for="teaching_recommendations" class="question">What do you recommend the instructor to do to improve their teaching?</label>
                    <textarea name="teaching_recommendations" id="teaching_recommendations" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-content">
                    <label for="lab_likes" class="question">What do you like about the labs?</label>
                    <textarea name="lab_likes" id="lab_likes" cols="30" rows="10" required></textarea>
                </div>
                <div class="form-content">
                    <label for="lab_recommendations" class="question">What do you recommend the lab instructors to do to improve their lab teaching?</label>
                    <textarea name="lab_recommendations" id="lab_recommendations" cols="30" rows="10" required></textarea>
                </div>
                

                <div class="form-content">
                    <div class="submit"><button type="submit">Submit</button></div>
                </div>
            </form>
            
          </div>
      </div>
      <div id="message" class="hidden"></div>
      {% endblock %}
</body>
</html>