<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
      {% extends "template.html" %}
      {% block content %}
      <div class="container">
          <div class="header">
            {% if session['account_type'] == 'Student' %}
              <p>Welcome <span class="highlight">{{session['fname']}}</span> to CSCB20<br/>Winter 2025!</p>
              <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>
              <p><span>Prerequisite</span>: Some experience with programming in an imperative language such as Python, Java or C.</p>
              <p><span>Exclusion</span> This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
              <p>Access your grades <a href="#"><strong>here</strong></a></p>
              <p>Submit remark requests <a href="#"><strong>here</strong></a></p>
              <p>Submit anonymous feedback <a href="#"><strong>here</strong></a></p>
            {% elif session['account_type'] == 'Instructor' %}
              <p>Welcome to your dashboard <br/> Instructor <span class="highlight">{{session['fname']}}</span></p>
              <p>Access your students grades <a href="{{url_for('instructorMarks')}}"><strong>here</strong></a></p>
              <p>Access your remark requests <a href="{{url_for('instructorRemarkRequests')}}"><strong>here</strong></a></p>
              <p>View anonymous feedback <a href="{{url_for('instructorFeedback')}}"><strong>here</strong></a></p>
            {% endif %}
          </div>
    
          <div class="announcements">
            <h2>Announcements</h2>
            <div class="announcement">
              <h3><a href="assignments.html">Assignment 2</a> is out</h3>
              <p>Hello all, Assignment 2 is out and is due on Wednesday March 12. at 11:59 PM. Please make sure to read the instructions carefully and reach out to the course staff if you have any questions. This assignment is based on <span>HTML, CSS, Python Flask, Web Development.</span><br/>- Purva</p>
            </div>
            <div class="announcement">
              <h3>Office Hour Today</h3>
              <p>Hello everyone, I will host my office hour today from 1 am to 2 pm this week, both in person and online. Link will be posted soon.<br/>- Kevin</p>
            </div>
            <div class="announcement">
              <h3>Term Test Date</h3>
              <p> Hello all, The term test date for our class is February 28 from 9am to 11am. The room allocation will be announced soon.<br/>- Purva</p>
            </div>
            <div class="announcement">
              <h3>Today's Office hour</h3>
              <p>Hello Student, I hope everything is well with you, and I want to announce that my today's office hours will be today at 3 to 4 pm at CS Help Centre 3180.<br/>- Naghmeh</p>
            </div>
            <div class="announcement">
              <h3><a href="assignments.html">Assignment 1</a> published</h3>
              <p>Hello all, Assignment 1 has been published. The due date for this assignment is February 11. Please form your groups on MarkUs for the assignment.</span><br/>- Purva</p>
            </div>
          </div>
          
          <div class="contact">
            <h2>Contact Information</h2>
            <p>Purva is the course coordinator, which means that she deals with all administrative matters: missed work, problems with your grades, and TA issues.</p>
            <div class="contact-container">
              <div class="contact-info">
                <p class="email">Email: purva.gawde@utoronto.ca</p>
                <p>Office Hours:<br/>Location: IA 4056<br/>Time: Monday 11:00 to 12:00</p>
              </div>
              <div class="purva">
                <p>Your Instructor<br/><span>Purva Gawde</span></p>
                <img src="../static/images/purva.png" alt="Purva" class="purva"/>
              </div>
            </div>
          </div>

          <div class="deadlines">
            <h2>Upcoming Deadlines</h2>
            <div class="deadline">
              <a href="labs.html"><h3>Tutorial 8</h3></a>
              <p>Week of March 10th, 2025</p>
            </div>
            <div class="deadline">
              <a href="assignments.html"><h3>Assignment 2</h3></a>
              <p>Due: March 12th, 2025 at 11:59 PM</p>
            </div>
            <div class="deadline">
              <a href="assignments.html"><h3>Assignment 3</h3></a>
              <p>Due: April 1st, 2025 at 11:59 PM</p>
            </div>
            <div class="deadline">
              <h3>Final Exam</h3>
              <p>Date: April 23rd, 2025 from 2:00 PM to 5:00 PM</p>
            </div>
          </div>
      </div>
      {% endblock %}
</body>
</html>
