<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">

</head>
<body>
      {% extends "template.html" %}
      {% block content %}
      <div class="container">
          <div class="news">
              <h2>News</h2>
              <div>
                <h3><a href="assignments.html">Assignment 2</a> is out</h3>
                <p>Hello all, Assignment 2 is out and is due on Wednesday March 12. at 11:59 PM. Please make sure to read the instructions carefully and reach out to the course staff if you have any questions. This assignment is based on <span>HTML, CSS, Python Flask, Web Development.</span><br/>- Purva</p>
              </div>
              <div>
                <h3>Office Hour Today</h3>
                <p>Hello everyone, I will host my office hour today from 1 am to 2 pm this week, both in person and online. Link will be posted soon.<br/>- Kevin</p>
              </div>
              <div>
                <h3>Term Test Date</h3>
                <p> Hello all, The term test date for our class is February 28 from 9am to 11am. The room allocation will be announced soon.<br/>- Purva</p>
              </div>
              <div>
                <h3>Today's Office hour</h3>
                <p>Hello Student, I hope everything is well with you, and I want to announce that my today's office hours will be today at 3 to 4 pm at CS Help Centre 3180.<br/>- Naghmeh</p>
              </div>
              <div>
                <h3><a href="assignments.html">Assignment 1</a> published</h3>
                <p>Hello all, Assignment 1 has been published. The due date for this assignment is February 11. Please form your groups on MarkUs for the assignment.</span><br/>- Purva</p>
              </div>
              <div>
                <h3>TUT0006 will be conducted today</h3>
                <p> Hello all, I announced uncertainty regarding tutorial today during lecture. Please note that the tutorial will be conducted as scheduled.<br/>- Purva</p>
              </div>
          </div>
      </div>
      {% endblock %}
</body>
</html>
