<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus Page</title>
    <link rel="stylesheet" href="../static/css/syllabus.css">
    <link rel="stylesheet" href="../static/css/avbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">

</head>
<body>
    <nav class="topnav">
        <label for="nav-toggle" class="hamburger">☰</label>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
        <div class="dropdown">
            <div class="nav-links">
              <a href="index.html">Home</a>
              <a href="syllabus.html" class="active">Syllabus</a>
              <a href="assignments.html">Assignments</a>
              <a href="labs.html">Labs</a>
              <a href="notes.html">Lecture Notes</a>
              <a href="tests.html">Tests</a>
              <a href="https://piazza.com/class/m5fmz9kzjo83yk">Piazza</a>
              <a href="https://markus2.utsc.utoronto.ca/">Markus</a>
              <a href="calendar.html">Calendar</a>
              <a href="feedback.html">Feedback</a>
              <a href="news.html">News</a>
              <a href="team.html">Course Team</a>
            </div>
        </div>
        
        <h2>CSCB20</h2>
        
        
        
        <input type="checkbox" id="darkmode-toggle">
        <label for="darkmode-toggle" class="darkmode-toggle">
            <img src="../static/images/sun.png" alt="sun" class="sun">
            <img src="../static/images/moon.png" alt="moon" class="moon">
        </label>
        
      </nav>

      <div class="container">
          <div class="content">
            <h2>What you'll learn</h2>
            <p>Databases:</p>
            <ul>
                <li>Key terminology and practical applications</li>
                <li>Creating, querying, and updating databases</li>
                <li>Designing databases using the entity-relationship model</li>
            </ul>
            <p>Web Development:</p>
            <ul>
                <li>Building static and interactive web documents</li>
                <li>Setting up web servers and generating dynamic, server-side content</li>
                <li>Developing web applications integrated with databases</li>
            </ul>
          </div>

          <div class="content">
            <h2>How The Course Is Run</h2>
            <h3 class="info">Each week, we will meet twice, once for the lecture and once for the tutorial. Both lectures and tutorials will be in person and will not be recorded.</h3>
            <p>Assignments (33%):</p>
            <ul>
                <li>Assignment 1: 8%</li>
                <li>Assignment 2: 10%</li>
                <li>Assignment 3: 15%</li>
            </ul>
            <h3 class="info">(Assignments will cover material from 2–3 weeks and will be posted on the website)</h3>
            <p>Mid-Term (25%):</p>
            <ul>
                <li>The mid-term exam will be held in-person during lecture time.</li>
                <li>Tentative Date: February 28</li>
                <li>Duration: 120 minutes</li>
            </ul>
            <p>Tutorial Attendance (2%):</p>
            <ul>
                <li>Tutorials will include collaborative problem-solving and practical demonstrations of concepts covered in class.</li>
                <li>Attendance will be recorded, and you must attend at least 7 tutorials to earn these marks.</li>
                <li>Tutorials are not graded, and problems solved during tutorials are for practice only.</li>
                <li>If you are unable to attend a tutorial, please submit a valid reason.</li>
            </ul>
            <p>Final Exam (40%):</p>
            <ul>
                <li>There will be one in-person final exam for the course.</li>
                <li>Note: You must score at least 35% on the final exam to pass the course.</li>
            </ul>
          </div>

          <div class="content">
            <h2 class="statement">Accessibility Statement</h2>
            <p>Students with diverse learning styles and needs are welcome in this course. In particular, if you have a disability/health consideration that may require accommodations, please feel free to approach your instructor, course coordinator, and/or the <a href="https://www.utsc.utoronto.ca/ability/">AccessAbility Services Office</a> as soon as possible. I will work with you and AccessAbility Services to ensure you can achieve your learning goals in this course. Enquiries are confidential.</p>
            <h2 class="statement">Diversity Statement</h2>
            <p>Diversity is central to who we are and what we do at the University of Toronto Scarborough. We believe it is vital to foster diversity in all facets of our campus culture. In this course, it is the responsibility of each and every one of us — the instructors, the teaching assistants, and, most importantly, the students — to provide a welcoming and supportive environment for all. If you have a concern, please feel free to approach your instructor/course coordinator, or the <a href="https://edio.utsc.utoronto.ca/">UTSC Equity & Diversity Office</a> as soon as possible. Enquiries are confidential.</p>
            <h2 class="statement">Academic Integrity</h2>
            <p>All of the work you submit must be done by you, and your work must not be submitted by someone else. Plagiarism is academic fraud and is taken very seriously. The department uses software that compares programs for evidence of similar code. Please read the Rules and Regulations from the U of T Governing Council, especially the <a href="https://governingcouncil.utoronto.ca/secretariat/policies/code-behaviour-academic-matters-july-1-2019">Code of Behaviour on Academic Matters.</a></p>
            <p>Please also see the information for students from the <a href="https://www.utsc.utoronto.ca/aacc/academic-integrity">Office of Student Academic Integrity.</a></p>
            <p>Please don't copy. We want you to succeed and are here to help.</p>
            <p>The simplest advice for avoiding plagiarism is:</p>
            <ul>
                <li>Never look at another student’s assignment solution (except for your teammates, if collaboration is allowed). This includes solutions on paper, computer screens, or any other medium. Similarly, never show your assignment solution to another student. This rule applies to all stages of your work, including drafts and incomplete solutions.</li>
                <li>If you find code on the web that solves part or all of an assignment, do not use or submit any part of it. A large percentage of the academic offences in CS involve students who have never met, and who just happened to find the same solution online. If you find a solution, someone else will too.</li>
                <li><span>Be very careful</span> when engaging "tutoring services". In previous years, we had students suspended from the university as a result of submitting work that was done with the "help" of such "tutors". When in doubt whether a tutoring company is offering real teaching or is helping students cheat, do not hesitate to ask your instructor — we are here to help!</li>
            </ul>
        </div>
      </div>
      <footer>
        <div class="footerContent">
          <p>Site Design by Asad Mirza and Moiz Mohammed</p>
          <p>Visit the <a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a></p>
        </div>
      </footer>
</html>
