<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Team</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/team.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">

</head>
<body>
    <nav class="topnav">

        <label for="nav-toggle" class="hamburger">☰</label>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        
        <div class="dropdown">
            <div class="nav-links">
                <a href="index.html" >Home</a>
                <a href="syllabus.html">Syllabus</a>
                <a href="assignments.html">Assignments</a>
                <a href="labs.html">Labs</a>
                <a href="notes.html">Lecture Notes</a>
                <a href="tests.html">Tests</a>
                <a href="https://piazza.com/class/m5fmz9kzjo83yk">Piazza</a>
                <a href="https://markus2.utsc.utoronto.ca/">Markus</a>
                <a href="calendar.html">Calendar</a>
                <a href="feedback.html">Feedback</a>
                <a href="news.html">News</a>
                <a href="team.html" class="active">Course Team</a>
            </div>
        </div>

        <h2>CSCB20</h2>
        
        
        
        <input type="checkbox" id="darkmode-toggle">
        <label for="darkmode-toggle" class="darkmode-toggle">
            <img src="../static/images/sun.png" alt="sun" class="sun">
            <img src="../static/images/moon.png" alt="moon" class="moon">
        </label>
    </nav>
    <div class="content">
        <a href="https://www.utsc.utoronto.ca/cms/purva-gawde-0" class="divLink">
            <div class="memberCard">
                <div class="memberCaption">
                    <img src="../static/images/purva.png" alt="picture of professor Purva Gawde">
                    <h2 class="memberName">Purva Gawde</h2>
                    <h2 class="memberTitle">Course Coordinator</h2>
                </div>
                <h4 class="memberEmail"><a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a></h4>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/naghmeh-safaie-3962b183/?originalSubdomain=ca" class="divLink">
            <div class="memberCard">
                <div class="memberCaption">
                    <img src="../static/images/default_pfp.jpg" alt="picture of placeholder">
                    <h2 class="memberName">Naghmeh Safaie</h2>
                    <h2 class="memberTitle">Teaching Assistant</h2>
                </div>
                <h4 class="memberEmail"><a href="mailto:naghmeh.safaie@mail.utoronto.ca">naghmeh.safaie@mail.utoronto.ca</a></h4>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/vincentzhang15/" class="divLink">
            <div class="memberCard">
                <div class="memberCaption">
                    <img src="../static/images/default_pfp.jpg" alt="picture of placeholder">
                    <h2 class="memberName">Vincent Zhang</h2>
                    <h2 class="memberTitle">Teaching Assistant</h2>
                </div>
                <h4 class="memberEmail"><a href="mailto:vincent.zhang@mail.utoronto.ca">vincent.zhang@mail.utoronto.ca</a></h4>
            </div>
        </a>
        <a href="#" class="divLink">
            <div class="memberCard">
                <div class="memberCaption">
                    <img src="../static/images/default_pfp.jpg" alt="picture of placeholder">
                    <h2 class="memberName">Kevin Zhang</h2>
                    <h2 class="memberTitle">Teaching Assistant</h2>
                </div>
                <h4 class="memberEmail"><a href="#">sorrykevin@couldntfindit</a></h4>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/orhan-cangurel/?originalSubdomain=ca" class="divLink">
            <div class="memberCard">
                <div class="memberCaption">
                    <img src="../static/images/default_pfp.jpg" alt="picture of placeholder">
                    <h2 class="memberName">Orhan Cangurel</h2>
                    <h2 class="memberTitle">Teaching Assistant</h2>
                </div>
                <h4 class="memberEmail"><a href="mailto:orhan.cangurel@utoronto.ca">orhan.cangurel@utoronto.ca</a></h4>
            </div>
        </a>
    </div>
    <footer>
        <div class="footerContent">
          <p>Site Design by Asad Mirza and Moiz Mohammed</p>
          <p>Visit the <a href="https://www.utsc.utoronto.ca/cms/">Faculty of Computer Science</a></p>
        </div>
      </footer>
</body>
</html>