<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdownpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="content">
        <ul class="dropDownLayout">
          
            <li class="dropDownBox">
                <input type="checkbox" id="d1" class="press"/>
                <label for="d1" class="dropDownHeader grid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>open</title><path d="M10,17L15,12L10,7V17Z" /></svg>
                    <h1>Upcoming Tests</h1>
                </label>
                <div class="dropDownBody grid">
                    <a href="{{url_for('static', filename='dummy.pdf')}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>dummy.pdf</title><path d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z" /></svg></a>
                    <h2><a href="{{url_for('static', filename='dummy.pdf')}}">Final Exam</a></h2>
                    <h3>April 23rd, 2025 - 100 Points</h3>

                </div>
            </li>
            <li class="dropDownBox">
                <input type="checkbox" id="d2" class="press"/>
                <label for="d2" class="dropDownHeader grid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>open</title><path d="M10,17L15,12L10,7V17Z" /></svg>
                    <h1>Past Tests</h1>
                </label>
                <div class="dropDownBody grid">
                    <a href="{{url_for('static', filename='dummy.pdf')}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>dummy.pdf</title><path d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z" /></svg></a>
                    <h2><a href="{{url_for('static', filename='dummy.pdf')}}">Midterm Exam</a></h2>
                    <h3>February 28th, 2025 - 50 Points</h3>
                </div>
                </div>
            </li>
        </ul>
    </div>
    {% endblock %}
</body>
</html>